@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL+Guides&display=swap');

.root {
    font-family: "Playwrite NL Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Playwrite NL Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

button {
    font-family: "Playwrite NL Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.button {
    font-family: "Playwrite NL Guides", cursive;
  font-weight: 400;
  font-style: normal;
}